@use "../abstracts";

.slides {
  display: flex;
  align-items: center;
  height: 70px;
  overflow: hidden;
  background: #ffcd00;
  white-space: nowrap;

  &:hover &__inner {
    animation-play-state: paused;
  }

  &-sticky {
    position: sticky;
    top: 106px;
    z-index: 99;
  }

  &__inner {
    display: flex;
    align-items: center;
    animation: slide 20s linear infinite;
    height: 100%;

    @include abstracts.screen(md) {
      height: 50px;
    }
  }

  &__text {
    flex-shrink: 0;
    font-size: 1.8rem;
    line-height: 166.667%;

    @include abstracts.screen(md) {
      font-size: 1.5rem;
    }
  }

  &__dot {
    flex-shrink: 0;
    width: 10px;
    height: 10px;
    margin: 0 18px;
    border-radius: 50%;
    background: #032e32;
  }
}
