*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 10000px;
  font-size: 1.6rem;
  font-family: "Plus Jakarta Sans", sans-serif;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  background: transparent;
}

a,
img,
button,
input,
textarea,
select {
  font-family: inherit;
  color: inherit;
}
